.navstyle{
    background-color: transparent;
    z-index: 9;
}
.section-one{
    background-image: url(../images/bg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    position: absolute;
    top: 0;
    z-index: 8;
}
.cellphone{
    background-color: blue;
    height: 600px;
}
.txtnbtns{
    background-color: red;
    height: 600px;
}
