body{
    font-family: iransans;
}
.navstyle{
    background-color: transparent;
    z-index: 9;
}
.section-one{
    background-image: url(../images/bg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    position: absolute;
    top: 0;
    z-index: 8;
}
.cellphone{
    height: 600px;
}
.txtnbtns{
    height: 600px;
}
img.cellphone{
    margin-top: 100px;
}
li:hover:after{
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    margin-left: 50%;
    border-radius: 50%; 
}
.frstxt{
    margin-top: 150px;
    text-align: right;
    
}
.scndtxt{
    margin-top: 50px;
    text-align: right;
    
}
.lftbtn{
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 50px;
    color: #56aecb;
}
.rgtbtn{
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 50px;
    color: #56aecb;
}
.h1txt{
    font-size: 2.5rem;
    line-height: 70px;
}
.h3txt{
    font-size: 1.5rem;
    line-height: 50px;
}
div.txtcntr1{
    text-align: center;
}
h2.txtcntr1{
    color: #56aecb;
    margin-top: 50px;
}
div.txtcntr2{
    text-align: center;
}
h2.txtcntr2{
    color: #56aecb;
    margin-top: 150px;
}
.txtcolor{
    color: #56aecb; 
}



