body{
    font-family: iransans;
}
.navstyle{
    background-color: transparent;
    z-index: 9;
}
.section-one{
    background-image: url(../images/bg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    position: absolute;
    top: 0;
    z-index: 8;
}
.cellphone{
    height: 600px;
}
.txtnbtns{
    background-color: red;
    height: 600px;
}
img.cellphone{
    margin-top: 100px;
}
li:hover:after{
    content: "";
    display: block;
    width: 20px;
    height: 5px;
    background-color: black;
    margin-left: 30px;
    border-radius: 50%; 
}
.frstxt{
    margin-top: 150px;
    text-align: right;
}
.scndtxt{
    margin-top: 50px;
    text-align: right;
}

